.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #191919;
  min-width: 0;
  min-height: 0;
  padding: 1px;
}
.freeBox___0QrsA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___0QrsA {
    flex-shrink: 1;
  }
}
.freeBox__m92Gp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox__k68U {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  padding: 0% 0% 10%;
}
.freeBox__k68U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__k68U {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__k68U > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 80px);
    height: calc(100% + 80px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__k68U > :global(.__wab_flex-container) > *,
  .freeBox__k68U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__k68U > :global(.__wab_flex-container) > picture > img,
  .freeBox__k68U
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 80px;
  }
}
.freeBox__k33I0 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 0px;
  align-self: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__k33I0 {
    left: auto;
    top: auto;
    align-items: center;
  }
}
.freeBox___0S9Jy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 464px;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___0S9Jy {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
.text__cwfaq {
  font-size: 92px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Voyage";
  align-self: center;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__cwfaq {
    text-align: center;
    font-size: 7em;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__cwfaq {
    font-size: 5em;
  }
}
.text___7S52W {
  position: relative;
  font-size: 18px;
  align-self: center;
  color: #d19c37;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text___7S52W {
    text-align: center;
    font-size: 14px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__jujT2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: baseline;
  left: 0px;
  top: auto;
  bottom: 6%;
  min-width: 0;
  padding: 8px;
}
.text__qRqDo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #5c5c5c;
}
.freeBox__vEbH8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
